<!DOCTYPE html>
<html>
<head>
  <title>LifeChoiceMeals</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<a href="/" class="brand">
  		<%= image_tag 'logo-icon-min.png', id: 'logo-icon' %>
    	LifeChoiceMeals
    </a>
    <ul class="nav">
      <li><%= link_to 'Home', :root, id: 'home-link' %></li>
      <li><%= link_to 'Products', {controller: 'landing', action: 'products'}, id: 'products-link' %></li>
      <li><%= link_to 'About', {controller: 'landing', action: 'about'}, id: 'about-link' %></li>
      <li><%= link_to 'Contact', {controller: 'landing', action: 'contact'}, id: 'contact-link' %></li>
      <li><%= link_to 'Log In', '#', id: 'login-link' %></li>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
